.AppTitle{
    margin-top: 3%;
    margin-left: 4%;
    font-size:150%;
    font-weight:bold;
}
.searchContainer{
    margin-left: 35%;
}
.Search{
    padding:8px;
    font-size: 20px;
    margin:5%;
    border: solid 2px black;
    border-radius:10px;
}
.searchButton{
    padding:8px;
    font-size:20px;
    font-weight: bold;
    border-radius:5px;
    color:white;
    background-color: #448FFF;
    border:black solid 2px;
}
.title{
    margin-left: 33%;
    font-size:150%;
    font-weight: bold;
}
.previousOrdersTitle{
    margin-top: 6%;
    margin-left: 33%;
    font-size:150%;
    font-weight:bold;
    color:white;
}
.NavWrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 0%;
}
.NavOne{
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #448FFF;
    color:white;
}

.NavTwo{
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #505050;
}

.NavThree{
    grid-column: 3 / 3;
    grid-row: 1;
    background-color: #999595;
}
.ListWrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 5%;
}
.ListOne {
    grid-column: 1 / 2;
    grid-row: 1;
}
.ListTwo {
    grid-column: 2 / 2;
    grid-row: 1;
}
a{
    text-decoration: none;
    color:black;
}
