.title{
    margin-left: 33%;
    font-size:150%;
    font-weight: bold;
}
.ListWrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 5%;
}
.ListOne {
    grid-column: 1 / 2;
    grid-row: 1;
}
.ListTwo {
    grid-column: 2 / 2;
    grid-row: 1;
}
a{
    text-decoration: none;
    color:black;
}
.Search{
    margin-top:3%;
    margin-left:2%;
    padding:8px;
    font-size: 20px;
    border: solid 2px black;
    border-radius:10px;
}
.searchButton{
    padding:8px;
    font-size:20px;
    font-weight: bold;
    border-radius:5px;
    color:white;
    background-color: #448FFF;
    border:black solid 2px;
    margin-top:3%;
    margin-left:2%;
    margin-bottom: 3%;
}
.searchButton:hover{
   border:solid white 2px;
}
