.stockContainer{
    border: solid 3px black;
    margin-bottom:10px;
    width:80%;
}
.Title{
    text-align: center;
    font-size: 115%;
}
.buttonContainer{
    margin-bottom: 2%;
    margin-left:31%;
}
.secondButton{
    margin-left:2%;
}
.stockButton{
    font-size: 110%;
    padding:2%;
}