.stockContainer{
    border: solid 3px black;
    margin-bottom:3%;
    padding-bottom: 3%;
    width:25%;
    box-sizing:border-box;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.33);
    margin:0 auto;
    margin-bottom:2%;
}
.stockText{
    font-weight: bold;
    font-size: 110%;
    text-align: center;
}
.stockButton{
    font-size: 110%;
    padding:3%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.33);
    text-align:center;
    color:white;
    background-color:#448FFF;
    margin:0 auto;
}
